:root {
  --text-single-200-regular-font-family: "DM Sans", Helvetica;
  --text-single-200-regular-font-weight: 400;
  --text-single-200-regular-font-size: 18px;
  --text-single-200-regular-letter-spacing: 0px;
  --text-single-200-regular-line-height: 18px;
  --text-single-200-regular-font-style: normal;
  --text-single-100-regular-font-family: "DM Sans", Helvetica;
  --text-single-100-regular-font-weight: 400;
  --text-single-100-regular-font-size: 16px;
  --text-single-100-regular-letter-spacing: 0px;
  --text-single-100-regular-line-height: 18px;
  --text-single-100-regular-font-style: normal;
  --text-single-100-bold-font-family: "DM Sans", Helvetica;
  --text-single-100-bold-font-weight: 700;
  --text-single-100-bold-font-size: 16px;
  --text-single-100-bold-letter-spacing: 0px;
  --text-single-100-bold-line-height: 18px;
  --text-single-100-bold-font-style: normal;
  --headings-h1-font-family: "DM Sans", Helvetica;
  --headings-h1-font-weight: 700;
  --headings-h1-font-size: 56px;
  --headings-h1-letter-spacing: 0px;
  --headings-h1-line-height: 66px;
  --headings-h1-font-style: normal;
  --text-single-200-bold-font-family: "DM Sans", Helvetica;
  --text-single-200-bold-font-weight: 700;
  --text-single-200-bold-font-size: 18px;
  --text-single-200-bold-letter-spacing: 0px;
  --text-single-200-bold-line-height: 18px;
  --text-single-200-bold-font-style: normal;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-weight: 600;
  --body-strong-font-size: 16px;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 139.9999976158142%;
  --body-strong-font-style: normal;
  --text-single-300-bold-font-family: "DM Sans", Helvetica;
  --text-single-300-bold-font-weight: 700;
  --text-single-300-bold-font-size: 20px;
  --text-single-300-bold-letter-spacing: 0px;
  --text-single-300-bold-line-height: 20px;
  --text-single-300-bold-font-style: normal;
}
